body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}

#whatsapp{
position: fixed;
margin-top: 60vh;
margin-left: 93%;
background-color:#008000;
border-radius: 50%;
padding:15px 20px;
color: white;
font-weight: bold;
cursor: pointer;
}

#whatsapp i{
font-size: 30px;
}

/* VOICI LE CSS POUR NOTRE FOOTER */

#footer{
width: 100%;
height: auto;
background-color: #212529;
}

#grid{
display: grid;
grid-template-columns: repeat(4, 1fr);
padding: 40px 30px;
background-color: #212529;

}

#grid p, #grid h2,#grid i{
color: white;
}


#flex{
padding-top: 70px;
}


#flex .hlm{
display: flex;
align-items: baseline;
line-height: 90px;
}
#flex p{
line-height: 60px;
text-align: start;
font-size: 16px;
}
#fewnu p{
line-height: 60px;
text-align: start;
font-size: 16px;
}
.hlm p{
line-height: 60px;
text-align: start;
font-size: 16px;
margin-left:10px;
}


#fewnu p{
line-height: 30px;
}
#fewnu img{
padding-top: 30px;
}

#social-media{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

#social-media i{
color: white;
font-size: 34px;
}

#footer hr{
color: rgba(255, 255, 255, 0.696);
margin-top: 60px;
}

#politique{
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 30px 0px;
}
#politique p{
color: white;

}

@media screen and (max-width:780px){
/* VOICI LA DEBUT RESPONSIVE DE MON PREMIER CONTENU DE NAVIGATION */

#nav{
    display: none;
}

#whatsapp{
    margin-left: 80%;
    border-radius: 50%;
    padding:10px 15px;
}

#whatsapp i{
    font-size: 20px;
}




/* VOICI LE CSS POUR NOTRE FOOTER */

#footer{
width: 100%;
height: auto;
background-color: #242424;
overflow: hidden;
}

#grid{
display: grid;
grid-template-columns:1fr;
}

#politique p{
padding-left:0px;
}

#grid p, #grid h2,#grid i{
color: white;
}


#flex{
padding-top: 70px;
}


#flex .hlm{
display: flex;
align-items: baseline;
line-height: 90px;
}
#flex p{
line-height: 30px;
text-align: start;
font-size: 16px;
}
#fewnu p{
line-height: 30px;
text-align: start;
font-size: 16px;
}
.hlm p{
line-height: 30px;
text-align: start;
font-size: 16px;
margin-left: 5%;
}


#fewnu p{
line-height: 30px;
}
#fewnu img{
padding-top: 30px;
}

#social-media{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

#social-media i{
color: white;
font-size: 34px;
}

#footer hr{
color: rgba(255, 255, 255, 0.696);
margin-top: 60px;
}

#politique{
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 30px 0px;
}
#politique p{
color: white;

}
.div-video1 iframe{
    width: 250px;
    height: 200px;
}
.div-video{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.div-video2{
    width: 250px;
}


}
@media (min-width: 768px) {
.menu-icon {
    display: none;
}
nav {
    position: relative;
    top: -10px;
    background-color: transparent;
}
nav ul {
    max-height: 70px;
    padding: 15px 0;
    text-align: right;
}
nav ul li {
    display: inline-flex;
    padding-left: 20px;
}

}
/* parti1 */
.div-main1{
color: #fff;
background-image: url(../images/bg-budget.png);
background-size: cover;
object-fit: cover;
width: 100%;
/* height: 47rem; */
padding: 5%;
font-size: 50px;
}
.div2{
padding: 5%;
margin-top: 40px;
margin-left: -40px;
font-weight: 400;
font-size: 20px;
}
.deux{
font-size: 25px;
}
button{
display: flex;
align-items: center;
margin-left: 85%;
margin-top: 5rem;
padding: 15px;
width: 15%;
border-radius: 15px;
border: none;
}
.but{
padding: 6px;
font-size: 18px;
margin-top: 10px;
border-radius: 20px;
}
.presaa{
color: rgba(11, 202, 212, 1);
background-color: #fff;
border-radius: 40px;
width: 37%;
font-size: 23px;
display: flex;
align-items: center;
}
.presa1{
padding: 10px;
border-radius: 55px;
background-color: rgba(0, 83, 104, 1);
z-index: 5
}

/* parti2 */
.div4{
display: flex;
padding: 5%;
background-color: #F5F5F5;
}
.woman{
width: 35%;
}
.droite{
    position: relative;
}
.gauche{
line-height: 40px;
}

.player{
position: absolute;
left: 45%;
transform: translateY(-9rem);
}
.bou{
background-color:#F5F5F5 ;
color: #12cdd7;
width: 100%;
margin-left: -5px;
/* padding: 9px; */
font-size: 20px;
margin-top: 10px;
}
.div{
display: flex;
align-items: center;
}
/* parti3 */
.trait{
background-color: rgba(213, 237, 239, 1);
padding: 3px;
width: 8%;
margin-top: 10px;

}
.right{
display: flex;
}
.div5{
display: flex;
justify-content: space-between;
background: linear-gradient(103.99deg, #005368 17.41%, #0BCAD4 88.35%);
color: #fff;
padding: 5%;
font-size: 0px;
}
.div{
display: flex;
align-items: center;
flex-wrap: nowrap;
line-height: 40px;
}
.inscriv{
color: rgba(4, 115, 133, 1);
background-color: white;
border-radius: 25px;
padding: 10px;
width: 30%;
margin-left: -1%;
margin-top: 50px;
font-size: 18px;
}
.ecrit{
font-size: 20px;
padding: 12px;
}
/* parti4 */
.cinq{
width: 28%;
}
.div6{
padding: 5%;
background-color: rgba(242, 242, 242, 1);
font-size: 22px;
}
.p{
line-height: 50px;
}
.lige{
padding: 2px;
background-color: #dcf0f1;
width: 6%;
margin-top: 9px;
}
.exepp{
display: flex;
justify-content: space-around;
align-items: center;
padding: 5%;
text-align: center; 
font-size: 22px;
}
/* parti5 */
.div-div7{
background-color: #F5F5F5;
padding: 5%;
display: flex;
justify-content: space-around;
}
.main6{
    background-color: #F5F5F5;
}
.cote1{
line-height: 40px;
font-size: 20px;
}


.but{

color: #fff;
background-color: #12cdd7;
width: 200px;
border-radius: 15px;
padding: 17px;

}
.bute{
margin-right: 0;
}
.ligee{
padding: 3px;
background-color: #dcf0f1;
width: 9%;
margin-top: 9px;
}
/* parti5 */
.div-video{
    display: flex;
    margin: 10%;
}

.div-backraound-span{
    display: flex;
    background-color: #e2e3e4;
    border-radius: 5%;
    margin-left: -10px;
    padding: 0;
}
.div-video2{
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: scroll;
    width: 500px;
    overflow-x: hidden;
}
.div-span-video{
    display: flex;
    align-items: center;
}
.main8{
background-color:rgb(251, 248, 248) ;
padding: 5%;
}
.forfait{
display: flex;
align-items: center;
gap: 10px;
}
.choix {
margin-left: -50px;
}
.forfait1{
width: 25%;
}
.div{
    display: flex;
    gap: 10PX;
}
.essait{
border-bottom: 1px solid rgba(0, 0, 0, 1.175);
background-color: rgba(238, 238, 238, 1);
font-weight: bold;
}
.essait2{
border-bottom: 1px solid rgba(0, 0, 0, 1.175);
padding: 3%; 
text-align: center;
color: #fff;
background-color: #005368 ;
}
.essait1{
box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.25);
background-color: rgba(248, 248, 248, 1);
}
.bll{
font-size: 15px;
font-weight: 700;
width: 59%;
color: white;
background-color: rgb(8, 208, 218);
padding: 6%;
border-radius: 5px;
margin: auto;
}
.franc{
font-size: 14px;
}
.nos{
padding: 5%;
}
/* parti responsivite */
@media screen  and (min-width:350px) and (max-width:500px) {
body{
    width: 100%;
}
#header{
    margin: 0;
}

/* premier parti */
.main1{
    color: #fff;
    background-image: url(budjetphoto/bg-budget.png);
    background-size: cover;
    height: 47rem;
    padding: 5%;
    /* font-size: 15px; */
}
.deux{
    font-size: 15px;
    margin-left: 40px;
    margin: 5%;
}
.ppp{
    display: none;
}
.presaa{
    width: 100%;
    margin-top: 10px;
}
.image-download{
    width: 20%;
    margin-left: 6%;
    
}
.larg{
    width: 60%;
}
/* deuxieme parti */
.div4{
    display: flex;
    flex-direction: column;
}
.droite{
    width: 100%;
}
.droite > img{
    width: 100%;
}
/* troisieme parti */
.div5{
    display: flex;
    flex-direction: column;
}
.phone > img{
    width: 100%;
}
.inscriv{
    width: 40%;
}
/* quatrieme partie */
.exepp{
    display: flex;
    flex-direction: column;
}
.bute{
    transform: translateX(7rem);
    width: 60%;
}
.but{
    width: 10%;
}
/* cinquieme partie */
.div-div7{
    display: flex;
    flex-direction: column;
}
.cote2 > img{
    width: 100%;
}
/* sixieme partie */
.div8{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 15px;
}

/* septieme partie */
.forfait{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 70%;
}
.essait{
    width: 350px;
}
.essait1{
    width: 150px;
    font-size: 15px;
}
.essait2{
    width: 150px;
}
}
@media screen  and (min-width:501px) and (max-width:820px) {
body{
    width: 100%;
}
#header{
    margin: 0;
}
.navbar-list a{
    padding: 0;
}

/* premier parti */
.main1{
    color: #fff;
    background-image: url(budjetphoto/bg-budget.png);
    background-size: cover;
    padding: 5%;
}
.deux{
    font-size: 15px;
    margin-left: 40px;
}
.presaa{
    width: 50%;
    margin-top: 10px;
}
.ppp{
    display: none;
}
.larg{
    width: 90%;
} 
.image-download{
    width: 60px;
    margin-left: 6%;    
}
}

button{
    margin-left: -10px;
    width: 55%;
}
/* deuxieme parti */
.div4{
    display: flex;
}
.droite{
    width: 100%;
}
.droite > img{
    width: 100%;
}
/* troisieme parti */
.div5{
    display: flex;
}
.phone > img{
    width: 100%;
}
.inscri{
    width: 60%;
}
/* quatrieme partie */
.exep{
    display: flex;
    flex-direction: column;
}
.bute{
    margin: 0%;
}
.but{
    width: 30%;
}
/* cinquieme partie */
.div7{
    display: flex;
    flex-direction: column;
}
.cote2 > img{
    width: 100%;
}
/* sixieme partie */
.div8{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 12px;
}
/* septieme partie */
.forfait{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}
.essait{
    width: 230px;
}
.essait1{
    width: 230px;
    font-size: 12px;
}
.essait2{
    width: 230px;
}

@media screen  and (min-width:821px) and (max-width:920px) {
body{
    width: 100%;
}

/* premier parti */
.main1{
    color: #fff;
    background-image: url(budjetphoto/bg-budget.png);
    background-size: cover;
    height: 47rem;
    padding: 5%;
    /* font-size: 15px; */
}
.ppp{
    display: none;
}
.deux{
    font-size: 15px;
    margin-left: 40px;
}
.presaa{
    width: 100%;
    margin-top: 10px;
}
button{
    margin-left: -10px;
    width: 55%;
}
/* deuxieme parti */
.div4{
    display: flex;
    flex-direction: column;
}
.droite{
    width: 100%;
}
.droite > img{
    width: 100%;
}
/* troisieme parti */
.div5{
    display: flex;
    flex-direction: column;
}
.phone > img{
    width: 100%;
}
.inscri{
    width: 60%;
}
/* quatrieme partie */
.exepp{
    display: flex;
    flex-direction: column;
}
.bute{
    margin: 0%;
}
.but{
    width: 80%;
}
/* cinquieme partie */
.div7{
    display: flex;
    flex-direction: column;
}
.cote2 > img{
    width: 100%;
}
/* sixieme partie */
.div8{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 15px;
}
/* septieme partie */
.forfait{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.essait{
    width: 150px;
}
.essait1{
    width: 150px;
    font-size: 15px;
}
.essait2{
    width: 150px;
}
}